<footer id="footer" class="row"><!-- Start footer -->
        <!--    
        <div id="secondary-nav" class="dropdown columns large-12">
              <div class="row">
                    <h2 class="accessibility-text">Secondary navigation</h2>            
                    <h3>In this section</h3>                
                    <div class="column columns large-3">
                        <h4><a href="#">Second level link</a></h4>                            
                        <ul>
                            <li><a href="#">This should be the same links</a></li>
                            <li><a href="#">From the active menu above</a></li>
                            <li><a href="#">It displays if</a></li>
                            <li><a href="#">Javascript is disabled</a></li>
                        </ul>
                        <h4><a href="#">Second level link</a></h4>                            
                        <ul>
                            <li><a href="#">Third level link</a></li>
                            <li><a href="#">Third level link</a></li>
                            <li><a href="#">Third level link</a></li>
                            <li><a href="#">Third level link</a></li>
                        </ul>
                    </div>                                  
                    <div class="column columns large-3">
                        <h4><a href="#">Second level link</a></h4>
                        <ul>
                            <li><a href="#">Third level link</a></li>
                            <li><a href="#">Third level link</a></li>
                            <li><a href="#">Third level link</a></li>
                            <li><a href="#">Third level link</a></li>
                        </ul>
                    </div>                      
                    <div class="feature columns large-3">
                        <h4><a href="#">Feature column</a></h4>                            
                        <ul>
                            <li><a href="#">High priority link</a></li>
                            <li><a href="#">High priority link</a></li>
                            <li><a href="#">High priority link</a></li>
                        </ul>
                        <h4><a href="#">Feature column</a></h4>                            
                        <ul>
                            <li><a href="#">High priority link</a></li>
                            <li><a href="#">High priority link</a></li>
                            <li><a href="#">High priority link</a></li>
                        </ul>
                    </div> 
              </div>                                        
            </div>  -->
        <div class="quick-links helpful-links columns large-12"><!-- End quick links -->
            <div class="row">
                <h3>Helpful Links</h3>                     
                    <div class="columns  medium-4 large-3">
                        <h4 class="accessibility-text">More from Funeral Care</h4>
                        <ul>
                            <li><a href="#" rel="nofollow">About</a></li>
                            <li><a href="http://www.co-operative.jobs/" data-name="Careers" id="utility-footer" rel="nofollow">Careers</a></li>
                            <li><a href="http://www.co-operative.coop/corporate/" rel="nofollow">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="columns medium-4 large-2">
                        <h4 class="accessibility-text">About</h4>
                        <ul>
                            <li><a href="#" rel="nofollow">Our promise</a></li>
                            <li><a href="#" rel="nofollow">Our news</a></li>
                            <li><a href="#" rel="nofollow">Our funeral homes</a></li>
                        </ul>
                    </div>
                    <div class="columns medium-4 large-3">
                        <h4 class="accessibility-text">About our ethics</h4>
                        <ul>
                            <li><a href="#" rel="nofollow">Our ethical strategy</a></li>
                            <li><a href="#" rel="nofollow">Environmental considerations</a></li>
                            <li><a href="#" rel="nofollow">Direct debit guarantee</a></li>
                        </ul>
                    </div>
                    <div class="businesses columns large-4">
                        <h4 class="accessibility-text">Testimonials</h4>
                        <ul>
                            <li><a href="#" rel="nofollow">Our testimonials</a></li>
                        </ul>
                    </div>
                </div>
        </div><!-- End quick links -->        
      
        <div class="quick-links columns large-12"><!-- End quick links -->
            <div class="row">
                <h3>More links</h3>                     
                    <div class="columns  medium-4 large-3">
                        <h4><a href="http://www.co-operative.coop/about-us/" rel="nofollow">About The Co-operative</a></h4>
                        <ul>
                            <li><a href="http://www.co-operative.coop/corporate/widermovement/" rel="nofollow">What is a co-operative?</a></li>
                            <li><a href="http://www.co-operative.coop/corporate/aboutus/The-Co-operative-Group-Values-and-Principles/" rel="nofollow">What makes us different</a></li>
                            <li><a href="http://www.co-operative.coop/corporate/" rel="nofollow">Corporate</a></li>
                            <li><a href="http://www.co-operative.coop/corporate/press/" rel="nofollow">Press &amp; media</a></li>
                            <li><a href="http://www.co-operative.jobs/" rel="nofollow">Careers &amp; Jobs</a></li>
                        </ul>
                    </div>
                    <div class="columns medium-4 large-2">
                        <h4><a href="http://www.co-operative.coop/membership/" rel="nofollow">Membership</a></h4>
                        <ul>
                            <li><a href="https://www.secure.membership.coop/" rel="nofollow">Check your points</a></li>
                            <li><a href="https://www.secure.membership.coop/NewMember.aspx" rel="nofollow">Become a member</a></li>
                            <li><a href="http://www.co-operative.coop/membership/what-is-membership/" rel="nofollow">What is membership</a></li>
                        </ul>
                    </div>
                    <div class="columns medium-4 large-3">
                        <h4><a href="http://www.co-operative.coop/find-us/">Stores &amp; branches</a></h4>
                        <ul>
                            <li><a href="http://www.co-operative.coop/find-us/" rel="nofollow">Opening times &amp; directions for your nearest Co-operative store or branch</a></li>
                        </ul>
                    </div>
                    <div class="businesses columns large-4">
                        <h4><a href="http://www.co-operative.coop" rel="nofollow">The Co-operative businesses</a></h4>
                        <ul>
                            <li><a href="http://www.co-operativefood.co.uk" title="Visit The Co-operative Food" rel="nofollow">Food</a></li>
                            <li><a href="http://www.co-operativebank.co.uk" title="Visit The Co-operative Bank" rel="nofollow">Bank</a></li>
                            <li><a href="http://www.co-operativeinsurance.co.uk" title="Visit The Co-operative Insurance" rel="nofollow">Insurance</a></li>
                            <li><a href="http://www.coopelectricalshop.co.uk" title="Visit The Co-operative Electrical" rel="nofollow">Electrical</a></li>
                            <li><a href="http://www.co-operativepharmacy.co.uk" title="Visit The Co-operative Pharmacy" rel="nofollow">Pharmacy</a></li>
                            <li><a href="http://www.co-operativelegalservices.co.uk" title="Visit The Co-operative Legal Services" rel="nofollow">Legal Services</a></li>
                            <li><a href="http://www.co-operativefuneralcare.co.uk" title="Visit The Co-operative Funeralcare" rel="nofollow">Funeralcare</a></li>
                            <li><a href="http://www.co-operativetravel.co.uk" title="Visit The Co-operative Travel" rel="nofollow">Travel</a></li>
                            <li><a href="http://www.co-operative.coop/estates/" title="Visit The Co-operative Estates" rel="nofollow">Estates</a></li>
                            <li><a href="http://www.co-operative.coop/farms" title="Visit The Co-operative Farms" rel="nofollow">Farms</a></li>
                            <li><a href="http://www.smile.co.uk" title="Visit Smile" rel="nofollow">Smile</a></li>
                            <li><a href="http://www.sunwin.co.uk" title="Visit Sunwin Services" rel="nofollow">Sunwin Services</a></li>
                        </ul>
                    </div>
                </div>
        </div><!-- End quick links -->
            
      <nav class="row"><!-- Start footer utility navigation -->
        <ul class="columns large-12" id="footer-utility-nav">
          <li><a href="http://www.co-operative.coop/terms/privacy-policy/" title="Read our privacy policy" rel="nofollow">Privacy policy &amp; Cookies</a></li>
          <li><a href="http://www.co-operative.coop/terms/" title="Read our terms and conditions" rel="nofollow">Terms &amp; conditions</a></li>
          <li><a href="http://www.co-operative.coop/accessibility/" title="Making our websites for everyone" rel="nofollow">Accessibility</a></li>
          <li><a href="#" title="">Site map</a></li>
          <li>Copyright &copy; Co-operative Group Limited. All rights reserved.</li>
        </ul>
      </nav><!-- End footer utility navigation -->
            
    </footer><!-- End footer -->